@import '@ownego/polaris-vue/dist/style.css';

:root {
	--sidebar-width: 274px;
	--space-between-sidebar-and-main-content: 10px;
}

#app {
	overflow: hidden;
	height: 100%;
  display: flex;
  width: 100%;
}
